* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*"root" permite que a definição de variáveis CSS 
(custom properties) que podem ser acessadas globalmente em todo 
o documento.*/
:root{
    font-size: 125%;
    font-family: 'DM Sans', sans-serif;
    
    --font-size-1: 1.25rem;
    --font-size-2: 2.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;/*tamnho da fonte normal*/
    --font-size-5: 0.75rem;

    --color-blue-1: #1c6cf9;
    --color-blue-2: #33489d;
    --color-blue-3: #141e41;

    --color-pink-1: #f42771;

    --color-black-1: #181818;
}