<!--  "main" define o conteúdo principal de uma página  -->
<main>
    <!--  "section" define um agrupamento temático de conteúdo,
    separando cada conteúdo em seções.  "-->
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Lucas Vargas. Sou programador profissional web fullstack, apaixonado por tecnologia.</span>
            </h1>
       
            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                        mood
                    </i>
                    Sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                        check_circle
                    </i>
                    Habilidades
                </a>
            </div>
        </div>

    </section>
    
    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="assets\profile.jpg" alt="foto de lucas vargas">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Sou um programador apaixonado por tecnologia e inovação, com uma paixão pela criação de softwares que não são apenas funcionais, mas também esteticamente agradáveis. Prezo sempre pela excelência no desenvolvimento de meus softwares, combinando uma arquitetura técnica robusta com uma experiência de usuário intuitiva.</h3>
            
                <p>Atuo como programador Full Stack: trabalhando tanto no frontend quanto no backend. As tecnologias que tenho maior domínio são: <b>ASP.NET</b>, <b>C#</b>, <b>SQL</b>, <b>Angular</b> e <b>TypeScript.</b></p>

                <p>No desinvolvimento web, prezo por combinação de uma arquitetura técnica robusta com uma experiência de usuário intuitiva, garantindo que cada elemento da interface do usuário seja visualmente coerente. Trabalho com uma metodologia ágil, garantindo entregas contínuas e melhorias constantes.</p>    
            
                <p>Atualmente, estou trabalhando em projetos pessoais visando aprimorar meus conhecimentos e, em paralelo, estudando através de cursos que estão me apresentando novas tecnologias. Estou sempre aberto para conversar sobre novos projetos e oportunidades! 😉</p>
          
                <a href="#contact">Entre em contato comigo!</a>
            </div>
        </div>
    </section>
</main>
