<!--main: define o conteúdo principal de um documento ou aplicação. 
Esse conteúdo é aquele que está diretamente relacionado ao tópico 
central da página ou à funcionalidade principal da aplicação.-->
<main>
    <!--section: é usada para agrupar elementos de forma lógica e 
    semântica. -->
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2"> Meu nome é Lucas Vargas e sou um programador apaixonado por tecnologia e desenvolvimento de software. Crio aplicações que visam um funcionamento de alta performance e atender todas as necessidades do cliente.</span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>
        
            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                    mood
                </i>
                sobre mim
            </a>
                <a href="#skils">
                    <i class="material-symbols-outlined">
                        check_circle
                    </i>habilidades                    
                </a>
            </div>
        </div>
    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="/profile.jpg" alt="foto de lucas vargas">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>
                <h3>Sou programador .NET web fullstack, apaixonado por tecnologia e inovação.</h3>
            
                <p>Com uma sólida experiência em desenvolvimento de software, especializo-me em criar soluções robustas e escaláveis utilizando as mais modernas tecnologias do mercado.</p>
                
                <p>Minhas Especialidades são: <b>TypeScript</b> & <b>JavaScript</b>: Utilizo essas linguagens para desenvolver aplicações dinâmicas e interativas, garantindo uma experiência de usuário fluida e responsiva.</p>
                
                <p><b>Angular</b>: Com Angular, construo interfaces de usuário sofisticadas e eficientes, aproveitando ao máximo sua arquitetura baseada em componentes.</p>
                
                <p><b>C#</b> & <b>.NET</b>: No backend, utilizo C# e .NET para desenvolver APIs e serviços que são seguros, performáticos e fáceis de manter.</p>
                
                <p>Estou sempre aberto a novas oportunidades e desafios. Se você está procurando um desenvolvedor dedicado e competente para seu próximo projeto, não hesite em entrar em contato! 😄</p>
           
                <a href="#contact">Entre em contato comigo!</a>
            </div>
        </div>
    </section>
</main>
